/* Write your CSS here */

.list-container {
  list-style-type: none;
  width: 48%;
  margin-bottom: 16px;
}

.button {
  background-color: #382f5a;
  color: #c4c4c4;
  border-color: #c4c4c4;
  border-radius: 5px;
  width: 120px;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-width: 1px;
  cursor: pointer;
  outline: none;
}
